* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

.cover {
    display : flex;
    background-color : rgb(242, 232, 218);
    height : 100vh;
    flex-direction : row;
    justify-content : center;
    align-items : center;
}

.card {
    background-color : white;
    height : 400px;
    width : 700px;
    border : 0px solid white;
    border-radius : 20px;
    background-image : url(mug.jpg);
    background-repeat : no-repeat;
    background-size : 330px 400px;
}

.content {
    font-size : 22px;
    padding-left : 370px;
}


#heading1 {
    color : grey;
    font-size : 18px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing : 7px;
    padding-top : 25px;
    position : absolute;
}

#heading2 {
    font-size : 35px;
    font-weight : bolder;
    position : absolute;
    font-family: 'Fraunces', serif;
    top : 170px;
}

#heading3 {
    font-size : 35px;
    font-family: 'Fraunces', serif;
    font-weight : bolder;
    position : absolute;
    top : 205px;
}

#about {
    color : hsl(228, 12%, 48%);
    font-family : 'Montserrat', sans-serif;
    font-size : 17px;
    padding-top : 162px;
}

#price1 {
    position : absolute;
    top : 370px;
    padding-left : 370px;
    font-size : 35px;
    font-family: 'Fraunces', serif;
    font-weight : bolder;
    color : hsl(158, 36%, 37%);
}

#price2 {
    position : absolute;
    top : 383px;
    padding-left : 465px;
    font-size : 20px;
    color : hsl(228, 12%, 48%);
    font-weight : bold;
    opacity : 0.8;

}

.button {
    background-color :hsl(158, 36%, 37%);
    text-align : center;
    color : white;
    font-family : 'Montserrat', sans-serif;
    height : 45px;
    width : 300px;
    border : 0px solid white;
    border-radius : 10px;
    position : absolute;
    top : 430px;
    left : 635px;
    padding : 10px;
    font-size : 18px;
}

.button:hover {
    background-color : hsl(156, 24%, 24%);
}

#about {
    color : hsl(228, 12%, 48%);
    font-family : 'Montserrat', sans-serif;
    font-size : 17px;
    padding-top : 162px;
}